---------------------------------------------------------
Action Items:

POC of shorten url (with inmomory db)   - Done
Refactor code to Hexagonal architecture - Done
Data persistence (local machine)        - Done
Writing unit tests                      -
Data persistence (Redis)                - Can be used as a database, cache, message broker, and queue.
Purchasing/setup domain                 -
Containerization (Docker)               -
Cloud deployment (AWS-EC2)              -
Kubernetes Support                      -



---------------------------------------------------------


db
--
user id | short url key | actual url


apis:
//create
POST /shorturl

{
    url: "www.google.com"
}

response:
{
    shortUrl: "host/shorturlkey"
}


//get
GET /shorturl/:key
status 301
location: "https://www.google.com"



  



